.container-ofrece {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
.ofrece-item {
  display: flex;
  width: 100%;
  max-width: 400px;
  column-gap: 15px;
  background-color: rgb(226, 226, 226);
  padding: 10px;
}
.ofrece-txt {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.ofrece-img img {
  width: 55px;
}
.ofrece-img {
  display: flex;
  align-items: center;
}
