<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar curso</title>
    <link rel="stylesheet" href="../../resource/css/cursos/agregar_curso.css" />
    <link rel="icon" href="../../resource/img/icons/logo-kepler-removebg-preview.png" />
  </head>

  <body>
    <figcaption class="titulo">
      <img src="../../resource/img/icons/flecha_2.png" alt="flecha" />
      <h2>AGREGAR CURSO</h2>
    </figcaption>
    <section class="cuerpo">
      <div class="formulario">
        <form action="#">
          <label for="nombre"
            >Nombre del curso<br />
            <input
              type="text"
              id="nombre"
              placeholder="Escriba aqui"
              class="input"
            />
          </label>
          <label for="docente"
            >Asignas docente <br />
            <select name="docente" id="docente" class="input">
              <option value="daniel">Daniel Amaya</option>
              <option value="martin">Brayan Martin</option>
              <option value="stich">Brayan Stich</option>
              <option value="stiven">Brayan Stiven</option>
              <option value="pedro">Pedro A Barrera</option>
            </select>
          </label>
          <label for="imagen"
            >Insertar Imagen <br />
            <button class="agregar">Agregar</button><br />
            <img
              src="../../resource/img/adm_courses/formulafisicapizarra.jpg"
              alt="fisica"
              class="img_agregar"
            />
          </label>
          <label for="precio"
            >Precio hora<br />
            <input type="number" id="precio" value="15000" class="input" />
          </label>
          <label for="descripcion"
            >Descripcion del curso <br />
            <textarea
              name="descripcion"
              id="descripcion"
              placeholder="Escriba aqui"
            ></textarea>
          </label>
        </form>
      </div>
      <div class="imagen">
        <img src="../../resource/img/adm_courses/agregar-cursos.png" alt="" />
      </div>
    </section>
    <footer>
      <div>
        <input type="submit" value="Agregar curso" class="boton" />
      </div>
      <div>
        <button class="boton">cancelar</button>
      </div>
    </footer>
  </body>
</html>
