<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login3

    </title>
    <link rel="stylesheet" href="../../resource/css/login/sign_up_admin.css">
</head>
<body>

<div class="log-container">
    <div class="cuenta-container">
     <h1><img src="../../resource/img/updatesale_login_signup/OTROLOGO.png" alt="">registrar nuevo usuario </h1>
     <div class="registro-container">
      <a href="Loginkepler.html" >Docente</a>
      <a href="login3.html"" >Estudiante</a>

     </div>
     <div class="formulario">
     <form action="">
        <label for="correo">correo electronico</label>
        <input type="email" id="correo" required>
        <label for="nombre">Nombre completo</label>
        <input type="text" id="nombre" required>
        <label for="dni">tipo de documento</label>
        <select name="dni" id="dni">
            <option value="CC">Cedula de ciudadania</option>
            <option value="TI">tarjeta de identidad</option>
            <option value="CE">Cedula de extranjeria</option>
        </select>
        <label for="Ndoc">Numero de documento</label>
        <input type="number" id="Ndoc" required>
        <label for="fecha">Fecha de nacimiento</label>
        <input type="date" id="fecha" required>
        <label for="telefono">Telefono</label>
        <input type="number" id="fecha" required>
        <label for="contraseña">Contraseña</label>
        <input type="password" id="contraseña" required>
        <label for="conf-contraseña">Confirmar contraseña</label>
        <input type="password" id="conf-contraseña" required>
        <button type="submit">REGISTRAR USUARIO</button>
     </form>
    </div>
    </div>
 <div class="image">
        <img src="../../resource/img/updatesale_login_signup/imagenlogin.png" alt="">
 </div>


    </div>
    </html>
</body>