<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="../../resource/css/admin_vis/vista_admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>

    <div class="container_1">
        <div class="card_1">
            <div class="card1">
                <img src="../../resource/img/admin_img/gener.png.png">
            </div>
            <div class="abajo">
                <div>
                    <h5>
                        Gestionar ventas
                    </h5>
                    <p>
                        Registar, generar reporte,buscar.
                    </p>
                </div>
                <div>
                    <button type="button" id="bt1" class="botones"><a href="ventas.html"><img src="../../resource/img/admin_img/ingresar.png" alt=""><br>Ingresar</a></button>
                </div>
            </div>
        </div>


        <div class="card_2">
            <div class="card2">
                <img src="../../resource/img/admin_img/User_Group_Monochromatic_2.2-removebg-preview.png">
            </div>

            <div>
                <div class="abajo">
                    <div>
                        <h5>
                            Gestionar usuario
                        </h5>

                        <p>
                            Add usuario, modificar,eliminar.
                        </p>
                    </div>

                    <div>
                        <button type="button" id="bt2" class="botones"><a href="gestionar_usuario.html"><img src="../../resource/img/admin_img/usuario.png" alt=""><br>Ingresar</a></button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="container_2">

        <div class="card_3">
            <div class="card3">
                <img src="../../resource/img/admin_img/Finance_app_Monochromatic_1preview (1).png">
            </div>

            <div class="abajo">
                <div>
                    <h5>
                        Gestionar pagos
                    </h5>
                    <p>
                        Pagos pendientes, historial.        
                    </p>
                </div>
                <div>
                    <button type="button" id="bt3" class="botones"><a href="pagos_docentes.html"><img src="../../resource/img/admin_img/pagos.png" alt=""><br>Ingresar</button></a>
                </div>
            </div>

        </div>

        
        <div class="card_4">
            <div class="card4">
                <img src="../../resource/img/admin_img/Campaign_2.png">
            </div>
            <div class="abajo">
                <div>
                    <h5>
                        Gestionar cursos
                    </h5>
                    <p>
                        Modificar, agregar, eliminar...
                    </p>
                </div>
                <div>
                    <button type="button" id="bt4" class="botones"><a href="modificar_cursos.html"><img src="../../resource/img/admin_img/ingresar.png"
                        alt=""><br>Ingresar</button></a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>